<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>vue practice</title>
</head>

<body>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="vue.js" type="text/javascript" charset="utf-8"></script>


    <div id="app">
        {{a}}
        <p v-html="rawHtml"></p>

        <div v-bind:class="color">test...</div>
        <div @click="click1">

            <div @click.stop="click2">
                clickme
            </div>
        </div>


        <div :class="{active:isActive}">
            bind-class
        </div>

        <div :style="{color:'red'}"> ggg</div>

        <!-- if else -->
        <div v-if="type==='A'">A</div>
        <div v-else-if="type==='B'">B</div>
        <div v-else-if="type==='C'">C</div>
        <div v-else>Neither</div>
        <!--  -->

        <!-- show -->
        <div v-show="visible">you can see me</div>
        <!--  -->

        <!-- for -->
        <ul>
            <li v-for="item ,index in items" :key="index">
                {{index}} {{item.message}}
            </li>
        </ul>

        <ul>
            <li v-for="value ,key in object" :key="key">
                {{key}}:{{value}}</li>
        </ul>
        <!--  -->

        <!-- on-click -->
        <div>
            <button v-on:click="counter+=1">數值:{{counter}}</button>
            <button v-on:click="greet(message,$event)">Greet</button>
        </div>
        <!--  -->

        <!-- model binding -->
        <div>
            <input v-model="message">
            <p>Message is {{message}}</p>

        </div>
        <!--  -->
    </div>
    <script src="todo.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="todo.css" type="text/css">


    <!--     <script type="text/javascript">
        var data = { a: 1 };
        var vm = new Vue({
            el: '#app',
            data: data
        })

        vm.$watch('a', (newval, oldval) => {
            console.log(newval, oldval);
        })
        vm.$data.a = 'test';


    </script> -->


</body>

</html>